services:

# =========== CERTIFICATS SSL ===========

  ssl-init:
    build:
      context: ./ssl
      dockerfile: Dockerfile
    container_name: intranet-ssl-init
    volumes:
      - ./ssl:/ssl



# =========== Databases ===========

  intranetDB:
    image: mariadb:10.11
    container_name: intranetDB
    ports:
      - "3307:3306"    
    restart: always
    environment:
      MARIADB_ROOT_PASSWORD: ${DB_PASSWORD}
      MARIADB_DATABASE: 'intranet'
    healthcheck:
      test: ["CMD", "healthcheck.sh", "--su-mysql", "--connect", "--innodb_initialized"]
      interval: 10s
      timeout: 5s
      retries: 3
    volumes:
      - ./intranetDB_data:/var/lib/mysql
    networks:
      - intra-net

#=========== Administration =========== 

  phpmyadmin:
    profiles:
      - dev
    image: phpmyadmin
    restart: always
    ports:
      - 8080:80
    environment:
      - PMA_ARBITRARY=1
      - PMA_HOST=intranetDB
      - PMA_USER=root
      - PMA_PASSWORD=${DB_PASSWORD}
    depends_on:
      - intranetDB
    networks:
      - intra-net

  nginx:
    container_name: nginx
    image: nginx:latest
    ports:
      - "8088:80" # Redirige vers 8443 (http vers https)
      - "8443:443"
    depends_on:
      ssl-init:
        condition: service_completed_successfully
      intranet-backend:
        condition: service_started
      intranet-frontend:
        condition: service_started
    networks:
      - intra-net
    environment:
      - NODE_ENV=${NODE_ENV:-dev}
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/proxy_params.conf:/etc/nginx/proxy_params.conf:ro
      - ./ssl/certificate.crt:/etc/nginx/ssl/certificate.crt:ro
      - ./ssl/private.key:/etc/nginx/ssl/private.key:ro
      - ./intranet-backend:/var/www/intranet-backend:ro
      - ./intranet-frontend/dist:/var/www/intranet-frontend/dist:ro


  intranet-backend:
    container_name: intranet-backend
    build: 
      context: ./intranet-backend
      dockerfile: Dockerfile
    depends_on:
      intranetDB:
        condition: service_healthy 
    networks:
      - intra-net
    volumes:
      - ./intranet-backend:/var/www/html

  intranet-frontend:
    container_name: intranet-frontend
    build:
      context: ./intranet-frontend
      dockerfile: Dockerfile
      args:
        NODE_ENV: ${NODE_ENV:-dev}
    environment:
      NODE_ENV: ${NODE_ENV:-dev}
    command: npm run ${NODE_ENV:-dev}
    networks:
      - intra-net
    volumes:
      - ./intranet-frontend:/var/www/intranet-frontend
      - /var/www/intranet-frontend/node_modules
    develop:
      watch:
        - action: sync
          path: ./intranet-frontend
          target: /var/www/intranet-frontend
          ignore:
            - node_modules/**
            - dist/**
        - action: rebuild
          path: ./intranet-frontend/package.json

networks:
  intra-net:
    name: intra-net
    external: true

    