# Dépendances
node_modules/
vendor/

# Fichiers de cache
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*

# Liens symboliques
public/storage


