# TODO : Change the URL with the one used next to APP_URL in intranet-backend/.env followed by /api
# For exemple, if you entered https://intranet.com in intranet-backend/.env then put https://intranet.com/api here
VITE_API_URL=https://localhost:8443/api
